body, html {
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	min-width: 1% !important;
}
body {
	overflow-x: hidden;
	/*overflow-y: hidden;*/
	background-color: none;
}
.hide {
	display:none !important;
}
/*
Before signUp / signIn add class .hide to all .sign-up-download and ..about-swapcast blocks.
And remove class .hide from all .sign-up-page blocks.
*/

/*
After signUp (if successful) show all .sign-up-download blocks.
And add class .hide to all .sign-up-page and .about-swapcast blocks
*/

/*
After signIn (if successful) remove class .hide from:
- #invitation .sign-up-page
- h3.sign-up-download
- .div-sign-up-download-other-clients
- .sign-up-page.user-info
- .about-swapcast

And add class .hide (if there no):
- #invitation .sign-up-download
- .sign-up-page.div-sign-up-form
- .sign-up-page.connect
*/
@media screen and (max-width : 980px) {
/*@media screen and (max-width : 980px) and (device-aspect-ratio: 40/71) {*/
	.wrapperland {
		background-image: url(bg1.jpg);
		padding-top: 20px;
		overflow-x: hidden;
		background-position: bottom;
		position:absolute;
bottom:0;
	}
	div.div-sign-up-logo {
		width:100%;
	}
	div.div-sign-up-bottom-section {
		/*top:90px;*/
		bottom:0;
		position:relative;
	}
	#invitation {
		width: 100%;
		float: left;
		margin-top:10px;
		margin-right: 0px;
	}
	#invitation p {
		font-size: 18px;
	}
	#invitation>p {
		margin-right: 10px;
	}
	#invitation>h3 {
		/*change text to "Download now!"
		<a href="https://itunes.apple.com/us/app/swapcast/id884240791?ls=1&amp;mt=8" title="App Store"><img src="images/btn_appstore.png" alt="Apple App Store" class="preserve"></a><a href="https://play.google.com/store/apps/details?id=com.swapcast" title="Google Play"><img src="images/btn_googleplay.png" alt="Google Play" class="preserve"></a>
		*/
		margin: 15px 10px 15px 0 !important;
		font-size: 28px;
		font-weight: 600;
	}
	#invitation h3.sign-up-download {
		margin-top:0 !important;
		margin-bottom:35px !important;
	}
	#invitation .user-info .image {
		width: 75px;
		height: 75px;
		margin-left: 20px;
	}
	#invitation .personal {
		float: left;
		margin-left:20px;
	}
	#invitation .personal h3 {
		font-size: 22px;
		margin-top: 5px !important;
	}

	#invitation .personal .link-wrapper {
		padding-top:7px;
	}
	#invitation .personal .link {
		font-size: 12px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-right:10px;
		padding-left:25px;
	}
	.div-sign-up-form {
		height: 245px;
		width:100%;
		 padding-left: 0px; 
		 padding-right: 0px; 
	    margin-right: 0px; 
	}
	#signUpGrid .inputs {
		width: 90%;
		height: 40px;
		margin-bottom:10px;
		margin-left:5%;
	}
	.div-sign-up-form > div:first-child {
		 margin-bottom: 0px; 
	}
	#signUpGrid .mark {
		width:100%;
		 margin-top: 0px; 
	}
	.mark {
		padding-right: 10px;
	}
	#signUpGrid .button.join {
		margin-right:10px;
		margin-top: 10px;
	}

	#signUpGrid .alrd {
		padding-right: 10px;
		padding-top: 60px;
	}
	#signUpGrid .alrd > :last-child {
		width:100%;
		text-align: right;
		font-size: 24px;
	}
	div.div-sign-up-download-other-clients {
		text-align: center;
		float:none;
	}
	div.div-sign-up-download-other-clients a:first-child {
		margin-right:10px;
	}
	#signUpGrid .connect {
		padding-left: 0px;
		background: none;
		height:auto;
	}
	#signUpGrid .connect-buttons {
		padding-right: 0px;
		width:100%;
		margin-top:10px;
		text-align: center;
	}
	#signUpGrid .connect-buttons .button{
		width:30%;
		white-space: nowrap;
		height:30px;
		line-height: 31px;
		font-size: 12px;
	}
	#signUpGrid .connect-buttons .button.login {
		font-size: 16px;
	}
	#signUpGrid .connect-buttons .button.fb .facebook-icon {
		width: 8px;
		height: 14px;
		margin-bottom: -3px;
		margin-right: 6px;			
		margin-left: 8px;	
		background-size: 100%;
	}
	#signUpGrid .connect-buttons .button.gplus .googleplus-icon {
		width: 15px;
		height: 12px;	
		margin-bottom: -3px;
		margin-right: 4px;			
        margin-left: 6px;
		background-size: 100%;
	}
	.about-swapcast {
		font-size: 18px;
		text-align: right;
		color: #074056;
		margin: 30px 10px
	}
	.footer-pic {
		background-image: url(bg.jpg);
		height: 500px;
		width: 100%;
		background-size: cover;
	}
	.m .wrapperland {
		background: url(bg.jpg);
		background-position-y: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		padding-top: 20px;
		overflow-x: hidden;
		position:relative;
		background-attachment: local;
		bottom:0;
	}
}
.div-sign-up-bottom-section {
	/*top: 0;*/
}
#invitation {
	float: right;
}
#signUpGrid {
	overflow-y: scroll;
}
#signUpGrid .connect {
	background: none;
	margin-top: 0;
	height:auto;
}





div.desktop, div.mobile {color:#ccc;}
div.desktop:hover, div.mobile:hover {color:#fff;}
div.desktop{padding-top: 35px;}
div.mobile {padding-top: 36px;color:#ccc;}

.div-sign-up-download-other-clients > .mobile:hover {
	background-position: -154px -0px;
}
.div-sign-up-download-other-clients > .mobile:hover {
	background-position: -154px -100px;}
 div.desktop:hover { background-position: 0px 38px;}
.div-sign-up-download-other-clients > .mobile, .div-sign-up-download-other-clients > .desktop {
height: 40px;
margin-bottom:15px;
}
